@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

html {
	scroll-behavior: smooth;
}

.overlay{
  position: absolute;
  top: 20em; 
  left: -8px;
  align-items: center;
  text-align: center;
  justify-items: center;
  flex-direction: column; 
  width: 100%;
}

/* CRISTIAN HERNANDEZ */
.title-ligth {
  bottom: 87px;
  width: 400px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.93);
}

.title-dark{
  bottom: 87px;
  width: 400px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.93);
}

/* BACKEND DEVELOPER */
.sub-title {
  width: 263px;
  height: 17px;
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(53, 236, 137, 0.93);
}

.btn-about {
  border-color: white;
  color: white;
 
}

.img-background-portafolio {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(
      0deg,
      rgba(73, 87, 98, 0.86) -13.97%,
      rgba(13, 13, 13, 0.28) 97.41%
    ),
    url("../portafolio.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.img-background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(
      0deg,
      rgba(73, 87, 98, 0.4) -8.97%,
      rgba(255, 255, 255, 0.89) 97.41%
    ),
    url("../background.png");
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .title {
    width: fit-content;
  }
  .overlay {
    width: 100%;
  }

  
}


